@model CurrentBill.Models.BillModel

<h1>Electricity Bill Result</h1>

<hr />
@if (ViewBag.Bill != null)
{
    <h4>Recipt</h4>
    <hr />
    <br />

    <h6>Meter No: @Model.MeterNo</h6>
    <h6>Customer Name: @Model.Name</h6>
    <h6>Previous Reading: @Model.prevReading</h6>
    <h6> Current Reading : @Model.currReading</h6>
    <h6>Billed Units : @Model.billedUnits</h6>
    <h6>Unit Price : @Model.unitPrice</h6>
    <h6>Bill Amount : @Model.billAmount</h6>
    <h6>Surcharge: @Model.surcharge</h6>

    <h6>NetBill : @Model.netBill</h6>

}